.titulo-carrito {
    text-align: center;
    padding: 10px;
}

.contenedor-carrito{
    min-width:800px ;
    min-height: calc(100vh - 180px) ;
}
.contenedor-carrito-1{
    margin: 15px;
    min-height: calc(100vh - 200px) ;
}
.prod-carrito-vacio{
    align-self: center;
    text-align: -webkit-center;
}
#overflow-carrito{
    max-height: 300px;
    min-height: 300px;
    overflow: auto;
}

.total-center{
    align-self: center;
    text-align: -webkit-center;
}

#hr-style-producto-lista{
    width: 93%;
    min-height: 1px;
    background: #c1bfc5;
}



@media (min-width: 576px) {
    .modal-dialog {
        max-width: 800px !important;
        margin: 1.75rem auto;
    }
}


