.contenedor-carrito-2 {
    margin: 15px;
    min-height: calc(100vh - 200px);
}

.contenedor-form-venta {
    padding: 29px;
    color: rgb(112, 87, 139);
    font-size: 13px;
    font-weight: 700;
}
#label-input-form{
    margin-bottom: -4px;
}

#cont-input-label{
    margin-bottom: 3px;
}

.style-marca-2 {
    font-size: 12px;
    font-weight: bold;
}
#presentacion_producto{
    font-size: 11px;
    color: #1a1a1a;
    font-weight: 600;
}
.img-formulario-venta{
    align-Self: center
}
