.contenedor {
    background: #ffff;
}

.contenedor-lista-productos {
    /*background: #61dafb;*/
    margin-left: 130px;
    margin-right: 130px;
}

.ContenedorNavP {
    color: #3333;
}
.titulo {
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
}
.subTitulo{
    text-align:left;
    padding: 5px;
}
.subTitulo-style{
    width: 50%;
    color: #5d5d5d;
}

.productos{
    width: 100%;
    margin-top: 20px;
    display:flex;
}

.filtro  {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 15px;
    text-transform: uppercase;
    vertical-align: top;
}
.span-title{
    font-size: 15px;
    color: #919191;
}
.small-filtro{
    padding-left: 50px;
    width: 100%;
    font-size: 12px;
    color: #919191;
    margin: 1px;
}
.style-filtro-contenedor{
    padding-top: 5px;
    padding-bottom: 5px;
}

.style-marca{
    font-size: 12px;
    font-weight: bold;
}
.style-nombre{
    font-size: 11px;
    color: #707b85;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
     border: none !important;
    border-radius: 0.25rem;
}
.precio{
    text-decoration:line-through;
    font-size: 12px;
}
.precio-oferta{
    font-size: 14px;
    color:red;
    font-weight: bold;
}

#presentacion_producto{
    font-size: 16px;
    color:#1a1a1a;
    font-weight: bold;
}
#presentacion_marca_producto{
    font-size: 11px;
    color: #707b85;
}
#presentacion_codigo_producto{
    font-size: 11px;
    color: #919da7;
    letter-spacing:2px;
}
#presentacion_info_producto{
    margin-top: 3px;
    margin-bottom: 3px;
}
.style-descripcion_producto{
    margin-top: 33px;
    margin-Bottom: 73px;
}

.button-atras{
    background-color: #4e2e7d !important;
}
.button_carrito{
    width: 100%;
    padding: 10px;
    border-radius: 0;
    height: 48px;
    -webkit-transition: padding .3s ease;
    transition: padding .3s ease;
    z-index: 0;
    position: relative;
    background: #e75353 !important;
}
