.navbar-light .navbar-toggler {
    color: #ffff;
    border-color: #9073b1 !important;
    background-color: #70578b;
    border-radius: 50%;
}

button:focus {
    outline: 1px dotted;
    outline: 0px !important;
}

.navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.navbar-toggler-icon {
    display: inline-block;
    width: 20px !important;
    height: 30px !important;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
}

.navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, 0.5);
    border-color: rgba(0, 0, 0, 0.1);
}

a {
    color: #ffff !important;
    text-decoration: none;
    background-color: transparent;
}

.menu-letras {
    color: #ffff;
    font-weight: bold;
    max-Width: 60px;
    font-Size: 13px;
    line-height: 14px
}
.carrito-menu{
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #050545;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    box-shadow: inset -10px 0px 10px -7px grey;
}

.search-bar  {
    margin-top: 4px;
    place-self: flex-start;
    height: 32px;
    width: 100%;
    padding: 4px 45px 5px 20px;
    border: none;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 200;
    z-index: 5;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
