.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/*banner*/
.cont-img-left {
    width: 50%;
    background-color: #4e2e7d;
    padding: 3px;
}

.img-left {
    width: calc(100% - 880px) !important ;
}

.cont-img-rigth {
    width: 50%;
    background-color: #d6d6d1;
    padding: 3px;
}

.img-rigth {
    width: calc(100% - 880px)  !important;
}

@media (min-width: 768px) {
    .img-left {
        width: calc(100% - 300px) !important ;
    }

    .img-rigth {
        width: calc(100% - 300px) !important;
    }
}

@media (max-width: 768px) {
    .img-left {
        width: calc(100% - 100px) ;
    }

    .img-rigth {
        width: calc(100% - 100px) !important;
    }
}

@media (max-width: 600px) {
    .img-left {
        width: calc(100% - 50px) !important;
    }

    .img-rigth {
        width: calc(100% - 50px) !important;
    }
}

